{% extends 'admin/index.html.twig' %}

{% block title %}Hello UsersController!{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Hello {{ controller_name }}! ✅</h1>
    </div>

    <div class="add-user-block">
        <a href="{{ path('admin_add_users') }}" class="add-user-link">
            <input type="button" value="Add new user">
        </a>
    </div>
    <div class="user-list-block">
        <table class="user-list">
            {% for userInfo in userList %}
                <tr>
                    <td class="full-name" >
                        <span></span>
                    </td>
                    <td class="user-name" >
                        <span></span>
                    </td>
                    <td class="email" >
                        <span></span>
                    </td>
                    <td class="roll" >
                        <span></span>
                    </td>
                    <td class="status" >
                        <span></span>
                    </td>
                    <td class="edit" >
                        <span></span>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
