{% block title %}Hello Account{% endblock %}

{% block navigationBlock %}
    {% include 'public/main_top_navigation.html.twig' %}
    <ul class="sidebar-menu">
        <li><a href="{{ path('admin_account') }}" >My account</a></li>
        <li><a href="{{ path('admin_journal') }}" >Journal</a></li>
        <li><a href="{{ path('admin_users') }}" >Users</a></li>
    </ul>
{% endblock %}

{% block sideBarNavigation %} {% endblock %}

{% block body %} {% endblock %}

{% block footer %}
    {% include 'public/footer.html.twig' %}
{% endblock %}