<style>
    .user-list-block .user-list th {
        border: 1px solid black;
        text-align: center;
        vertical-align: middle;
        padding: 4px;
    }
    .user-list-block .user-list td {
        border: 1px solid black;
        text-align: center;
        vertical-align: middle;
        padding: 4px;
    }
</style>

{% block title %}Hello Account{% endblock %}

{% block navigationBlock %}
    {% include 'public/main_top_navigation.html.twig' %}
    <ul class="sidebar-menu">
        <li><a href="{{ path('admin_account') }}" >My account</a></li>
        <li><a href="{{ path('admin_journal') }}" >Journal</a></li>
        <li><a href="{{ path('admin_users') }}" >Users</a></li>
    </ul>
{% endblock %}

{% block sideBarNavigation %} {% endblock %}

{% block body %} {% endblock %}

{% block footer %}
    {% include 'public/footer.html.twig' %}
{% endblock %}