{% block navigation %}
    <ul class="navigation-list">
        <li><a href="{{ path('admin_account') }}" >My account</a></li>
        <li><a href="{{ path('admin_journal') }}" >Journal</a></li>
        <li><a href="{{ path('admin_users') }}" >Users</a></li>
    </ul>
{% endblock %}